html{
    background-color:rgb(63, 31, 95);
    background-image: url('Assets/nebula.jpg');
}
body{
    background-color: indigo;
    font-family: 'Oxygen', sans-serif;
}
#header-nav{
    background-color: navy;
    border-radius: 0;
    border: 0;
}
#logo-img{
    background: url('Assets/spaceship.png') no-repeat;
    width: 500px;
    height: 500px;
   /* margin : 10px 10px 10px 10px; */
}
.navbar-brand{
    padding-top: 25px;
}
.navbar-brand h1{
font-family: 'Lora', serif;
color: turquoise;
font-size: 1.5em;
text-transform: uppercase;
font-weight: bold;
text-shadow: 1px 1px 1px #222;
margin-top: 0;
margin-bottom: 0;
line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus{
    text-decoration: none;
}

table {
   
  border: 1px solid #2c3e50 ;
  margin: auto ;
  background-color: midnightblue ;

  padding: 20px ;
  font-family: 'VT323', monospace;
  opacity: 0.4;
}

td {
    
  border: 5px solid black ;
  background-color: #A5D6A7 ;
  width: 100px ;
  height: 100px ;
  text-align: center ;
  font-size: 40px;
  font-weight: bold;
}

.figureSelector{
  min-width: 70px;
  margin-left: 10px;
  border: 2px solid black ;
  background-color: #A5D6A7 ;
  padding: 8px 10px 8px 10px;
  font-size: 30px;
  font-family: 'VT323', monospace !important;
  font-size: 35px !important;
}

#msg{
  display:none;
  opacity: 0;
  padding-top: 25px;
}

h1{
  font-size: 2em !important;
  font-family: 'VT323', monospace !important;
}

#panel{
    position: absolute;
	margin-top: 30px;
    font-size: 30px;
    
    background-image: url('Assets/spaceship-interior-captains-bridge-with-chair-cartoon-style_92863-144.jpg')  ;
    background-repeat: no-repeat;

    ;
}

.settings{
	margin-top: 50px;
}

#new-game{
  margin-top: 30px;
}

.players, .players:link, .players:visited{
	cursor: pointer;
	color: black;
}

#p2{
	opacity: 0.3;
}

.change-figures{
	border-radius: 50% !important;
	width: 50px;
	height: 50px;
	margin-right: 3,0px;
  cursor: pointer;
}

.change-figures span{ 
	margin-top: 10px;
	font-size: 1.2em;
  cursor: pointer;
}

.btn-info{
	border: 0 !important;
	background-color: #78909C !important;
}

.well{
	background-color: #bdc3c7 !important;
	padding-bottom: 50px !important;
    min-height: 530px !important;
}